footer {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body[data-theme="light"] footer {
  color: rgba($color: #000, $alpha: 10.5);
}

body[data-theme="dark"] footer {
  color: rgba($color: #fff, $alpha: 10.5);
}
